[submodule "services/galaxy/opt/galaxy"]
	path = services/galaxy/opt/galaxy
	url = git@github.com:Intel-HSS/galaxy.git
[submodule "services/CCC_Central/opt/central_function"]
	path = services/CCC_Central/opt/central_function
	url = git@github.com:Intel-HSS/CCC_Central.git
[submodule "services/labkey/opt/ccc_cf_client"]
	path = services/labkey/opt/ccc_cf_client
	url = git@github.com:Intel-HSS/CCC_CF_Client.git
[submodule "services/labkey/opt/dms_omics_imaging"]
	path = services/labkey/opt/dms_omics_imaging
	url = git@github.com:Intel-HSS/DMS_Omics_Imaging.git
