[submodule "services/galaxy/opt/galaxy"]
	path = services/galaxy/opt/galaxy
	url = git@github.com:Intel-HSS/galaxy.git
[submodule "services/CCC_Central/opt/central_function"]
	path = services/CCC_Central/opt/central_function
	url = git@github.com:Intel-HSS/CCC_Central.git
[submodule "services/execution_engine/opt/cromwell"]
	path = services/execution_engine/opt/cromwell
	url = https://github.com/broadinstitute/cromwell
[submodule "services/execution_engine/opt/execution_engine"]
	path = services/execution_engine/opt/execution_engine
	url = git@github.com:Intel-HSS/CCC_ExEngine.git
