agent {
  schedulers = [
    { "drmaa" : "http://{{ AGENT_SCHEDULER_DRMAA_HOST | default("127.0.0.1") }}:{{ AGENT_SCHEDULER_DRMAA_PORT | default(9502) }}/api/v1/drmaa/job" },
    { "non-drmaa" : "http://{{ AGENT_SCHEDULER_NONDRMAA_HOST | default("127.0.0.1") }}:{{ AGENT_SCHEDULER_NONDRMAA_PORT | default(9503) }}" }
  ]
}

timeout = 10
retry = 10

akka {
  loggers = ["akka.event.slf4j.Slf4jLogger"]
  loglevel = DEBUG
}

http {
  host = {{ AGENT_TRANSFER_HOST | default("0.0.0.0") }}
  port = {{ AGENT_TRANSFER_PORT | default(9500) }}
}

transfer {
  host = {{ AGENT_TRANSFER_HOST | default("0.0.0.0") }}
  port = {{ AGENT_TRANSFER_PORT | default(9501) }}
}
